# Ignore all build directories
build/

# Ignore all .vscode directories
.vscode/

# Ignore object and deps files for all exercises
*.o
*.d

# Ignore executables for all exercises
intern
aform
form
bureaucrat